{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container mb-2">
    {% if users %}
        <table class="table table-responsive table-striped mb-5">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Occupation</th>
                <th>Telephone</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.get_full_name}}</td>
                <td>{{user.address}}</td>
                <td>{{user.occupation}}</td>
                <td>{{user.telephone}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
    <div class="row justify-content-md-center">
            <div class="col-md-6 mt-5">

                <img src="{% static 'assets/images/blog/404.jpg' %}" alt="" class="img-thumbnail"/>
            </div>
        </div>
    {% endif %}

     {% if users %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if users.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}

            {% if users.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ users.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}

            {% for i in users.paginator.page_range %}
            {% if users.number == i %}
            <li class="page-item " aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only"></span>
              </span>
            </li>
            {% elif i > users.number|add:'-5' and i < users.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if users.paginator.num_pages > users.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ users.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ users.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}