{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row justify-content-md-center">
        {% include 'errors.html' %}
        <div class="col-md-6 mt-5">
            <form method="post" action="{% url 'register_worker' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" >
                </div>
                <div class="mb-3">
                    <label for="exampleInputAddress2" class="form-label">Address</label>
                    <input type="text" class="form-control" id="exampleInputAddress2" name="address" >
                </div>
                <div class="mb-3">
                    <label for="telephone" class="form-label">Telephone E.g +2348021234567</label>
                    <input type="tel" class="form-control" id="telephone" name="telephone">
                </div>
                <div class="mb-3">
                    <label for="occupation" class="form-label">Occupation</label>
                    <input type="text" class="form-control" id="occupation" name="occupation">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="password2">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="pastor" name="is_pastor">
                    <label class="form-check-label" for="pastor">Pastor</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="worker" name="is_worker">
                    <label class="form-check-label" for="worker">Worker</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}